/*------------------------------wrapper---------------------------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*-------------------------------colors----------------------------*/
.color-main-lighten{
    background-color: #4db6ac;
}

.color-main-darken{
    background-color: #009688;
}

.color-action-lighten{
    background-color: #1de9b6;
}

.color-action-lighten-icon{
    color: #1de9b6;
}

.color-action-darken{
    background-color: #26a69a;
}

.color-border-blockquote{
    border-left-color: #009688;
}

/*----------------------------navbar------------------------*/
.brand-logo{
    font-family: 'Roboto Slab', serif;
}

/*----------------------------side navbar------------------------*/
.sidenav{
    width: 170px;
}


.sidenav li{
  padding: 2rem;
}

.sidenav i{
    font-size: 3rem;
}

.sidenav .material-icons{
    color: #009688 !important;
}

/*----------------------------footer-------------------------*/
.social{
    display: flex;
    justify-content: space-around;
}

.social-list{
    font-size: 2rem;
    position: relative;
}

.social-list:first-child{
    left: 13rem;
}

.social-list:nth-child(2){
    right: 13rem;
}

/*-----------------------home image------------------------------*/

.top-img{
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*----------------------------titles-------------------------*/

.section-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
}


/*-----------------------about me------------------------------*/

.aboutMeSection{
    text-align: justify;
    padding-top: 5rem;
}

/*--------------------------forms-------------------------------*/


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: initial;
    opacity: 100;
    pointer-events: auto;
}

form div{
    padding-top: 2rem;
}

#contact_message,
#edit_project_description{
    margin-top: 2rem;
}

.form-container{
    margin-top: 5rem;
}

textarea{
    height: 10rem;
}

/*--------------------------cards-------------------------------*/


i.line-height-0{
    line-height: inherit;
}
